[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "libs/MIRLib"]
	path = libs/MIRLib
	url = git@github.com:claurier/MIRLib.git
[submodule "libs/BTrack"]
	path = libs/BTrack
	url = https://github.com/adamstark/BTrack
[submodule "libs/beat_this_cpp"]
	path = libs/beat_this_cpp
	url = https://github.com/mosynthkey/beat_this_cpp
